.profile-main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  background-color: rgba(77, 181, 255, 0.4);
  padding: 2.5rem;
  margin: 3rem;
  flex-direction: column;
  width: 90% ;
}

#banner{
  background-color: rgba(255, 255, 255, 0.6);
  width: 100%;
  height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#profile-photo{
  position: relative;
  left: -40%;
  color: red;
  background-color: aliceblue;
  height: 10rem;
  width: 10rem;
  top: -15rem;
  display: flex;
  justify-content: center;
  align-items: center;
}


#profile-info{
  position: relative;
  left: -22%;
  height: 10rem;
  width: 50%;
  top: -22rem;
  display: flex;
  justify-content: left;
  align-items: flex-start;
  background-color: transparent;
}

#profile-name{
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}





/* .Profile_base {
  width: max-content;
  display: block;
  padding: 0.7rem 1.7rem;
  z-index: 0;
  position: sticky;
  left: 50%;
  transform: translate(-50%);
  top: 5.3rem;
  display: flex;
  gap: 0.8rem;
  border-radius: 3rem;
  backdrop-filter: blur(10px);
} */

/* #Profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.Profile_Details {
  margin-bottom: 20px;
}

.VerticalSection {
  margin-bottom: 20px;
}

.Card {
  background-color: #000;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  width: 300px;
}
.Card_Header {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
}
.Card_Body {
  font-size: 16px;
} */
